.top-page.main-font
  .top-page__main
    .top-page__main__box
      .top-page__main__box__title.text-white
        Task-Manager をはじめよう
      .top-page__main__box__text.text-white
        入力スピード重視の仕事管理ツールです。
      .top-page__main__box__text.text-white
        小さな仕事も、こまめに記録することで忘れないようになります。
      .top-page__main__box__start
        - if user_signed_in?
        - else
          = link_to new_user_registration_path, class: "text-white1 text-line-none start-btn" do
            新規会員登録
          = link_to app_description_top_pages_path, class: "text-white1 text-line-none start-btn use-btn" do
            Appの使い方(作成中)