.footer.main-font.text-white1.background-blue
  .footer__main.text-right.margin-right
    .footer__main__logo
      Task-Manager
    .footer__main__text
      Copyright © Task-Manager Inc. All rights reserved