.edituser{
  color: #007bff;

  &__main{
    background-color: white;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px 50px 50px 50px;
    box-shadow: 0 0 1px rgba(0,0,0,.25);

    &__logo{
      text-align: center;
      font-weight: 600;
      font-size: 28px;
      padding-bottom: 5;
      margin-bottom: 10;
      border-bottom: solid;
      border-bottom-color: #007bff;
    }

    &__form{

      .edituser-detail{
        width: 400px;
        margin: 0 auto;
      }

      .error_explanation {
        color: red;
        width: 400px;
        margin: 0 auto;
        margin-top: 30px;
  
        h2 {
          font-size: 16px;
          font-weight: bold;
        }
    
        ul {
          font-size: 14px;
          padding-left: 20px;
          margin-bottom: 0;
  
          li {
            display: list-item;
            list-style: disc;
          }
    
          li:not(:last-child) {
            margin-bottom: 3px;
          }
        }
      }
    }

    .btn-box{
      margin-top: 20px;
      justify-content: space-around;
    }
  }
}