.taskform {
  margin-right: 0;
  height: 27px;
}


.actions {
  margin-top: 10;
  padding-bottom: 0;
}



select {
  &#category_id {
    height: 30px;
  }
  &#client_id {
    height: 30px;
  }
}

.edit_client {
  display: flex;
}

.edit_category {
  display: flex;
}

#searchbtn {
  margin: 0 3;
}

.btn-1 {
  width: 5%;
}

.date-select {
  :first-child {
    display: inline-block;
    width: 70;
  }
  :nth-child(2) {
    display: inline-block;
    width: 110;
  }
  :last-child {
    display: inline-block;
    width: 50;
  }
}

.form-control {
  background-color: #fff;
  border-color: #007bff;
  margin-right: 3px;
}

.name-field {
  width: 20%;
}

.category-select {
  width: 20%;
}

.client-select {
  width: 20%;
}

.date-select {
  width: 23%;
}
.status-select {
  width: 7%;
}
.user-name {
  width: 5%;
}



/* 新テーブルフォーマット */
table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
  color: #007bff;

  tr{
    background-color: #fff;
    padding: 5px;
    border-bottom: 1px dotted #007bff;

    &:last-child{
      border-bottom: 2px solid #007bff;
    }
  }

  tbody{
    tr{
      &:hover{
        background-color: #E0F8F7;
      }

      &:hover .table-input{
        background-color: #E0F8F7;
      }

      &:hover .table-select-input{
        background-color: #E0F8F7;
      }

      &:hover .table-dateselect-input{
        background-color: #E0F8F7;
      }
    }

    th{
      color: #007bff;
    }
  }

  th{
    font-size: 18px;
    font-weight: 600;
    padding: 20px 5px;
    text-align: center;
  }

  td{
    padding: 10px 0px;
    text-align: center;
  }
}

/////////////////////////
/****テーブル用フォーム****/
/////////////////////////
.table-input{
  width: 98%;
  height: 24px;
  border-bottom: none;
  border-right:none;
  border-left:none;
  border-top:none;
  color: #007bff;
  cursor: pointer;

  &:focus{
    outline: none;
    border-bottom: 1px solid #007bff;
  }

  &::placeholder{
    color: #007bff;
  }
}

.table-select-input {
  width: 98%;
  height: 24px;
  color: #007bff;
  background-color: white;
  border: none;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}

.table-dateselect-input {
  display: inline-block;
  height: 24px;
  color: #007bff;
  background-color: white;
  border: none;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}

/////////////////////////
/****検索用フォーム****/
/////////////////////////
.search-input{
  height: 24px;
  border-bottom: 1px solid #007bff;
  border-right:none;
  border-left:none;
  border-top:none;
  color: #007bff;
  cursor: pointer;
  margin-right: 15px;

  &:focus{
    outline: none;
  }

  &::placeholder{
    color: #007bff;
  }
}

.search-select-input {
  height: 24px;
  color: #007bff;
  background-color: white;
  border: 1px solid #007bff;
  cursor: pointer;
  margin-right: 15px;

  &:focus{
    outline: none;
  }
}

.search-label {
  font-size: 16;
  padding: 3 0;
  margin: 0px;
}