/* 新テーブルフォーマット */
table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
  color: #007bff;

  tr{
    background-color: #fff;
    padding: 5px;
    border-bottom: 1px dotted #007bff;

    &:last-child{
      border-bottom: 2px solid #007bff;
    }
  }

  tbody{
    tr{
      &:hover{
        background-color: #E0F8F7;
      }

      &:hover .table-input{
        background-color: #E0F8F7;
      }

      &:hover .table-select-input{
        background-color: #E0F8F7;
      }

      &:hover .table-dateselect-input{
        background-color: #E0F8F7;
      }
    }

    th{
      color: #007bff;
    }
  }

  th{
    font-size: 18px;
    font-weight: 600;
    padding: 20px 5px;
    text-align: center;
  }

  td{
    padding: 10px 0px;
    text-align: center;
  }
}

/////////////////////////
/****テーブル用フォーム****/
/////////////////////////
.table-input{
  width: 98%;
  height: 24px;
  border-bottom: none;
  border-right:none;
  border-left:none;
  border-top:none;
  color: #007bff;
  cursor: pointer;

  &:focus{
    outline: none;
    border-bottom: 1px solid #007bff;
  }

  &::placeholder{
    color: #007bff;
  }
}

.table-select-input {
  width: 98%;
  height: 24px;
  color: #007bff;
  background-color: white;
  border: none;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}

.table-dateselect-input {
  display: inline-block;
  height: 24px;
  color: #007bff;
  background-color: white;
  border: none;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}

/////////////////////////
/****検索用フォーム****/
/////////////////////////
.search-input{
  height: 26px;
  border-bottom: 1px solid #ccc;
  border-right:none;
  border-left:none;
  border-top:none;
  color: black;
  cursor: pointer;
  margin-right: 15px;

  &:focus{
    outline: none;
    border-bottom: 1px solid #007bff;
    border-right:none;
    border-left:none;
    border-top:none;
  }

  &::placeholder{
    color: #ccc;
  }
}

.search-select-input {
  height: 26px;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 15px;

  &:focus{
    outline: none;
    border: 1px solid #007bff;
  }
}