.category{
  color: #007bff;

  &__main{
    width: 95%;

    &__category-section{
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 100px;
      height: 350px;
      width: 500px;
      padding: 30px 50px 50px 50px;
    }

    &__client-section{
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 100px;
      height: 350px;
      width: 500px;
      padding: 30px 50px 50px 50px;
    }

    &__logo{
      font-weight: 600;
      font-size: 28px;
      padding-bottom: 5;
      margin-bottom: 10;
      border-bottom: solid;
      border-bottom-color: #007bff;
    }

    &__flash{
      margin: 0 auto;
      margin-top: 20px;
      font-size: 18px;
    }
  }

  &-form{
    font-size: 18px;
    margin: 40px 0px 0px 40px;

    &-detail{
      margin-left: 0px;
    }
  }

  &-input{
    margin-top: 10px;
    margin-left: 40px;
  }
}